<div class="col-4" style="background-image: url(<%= @volunteer.image ? @volunteer.image : '/image.png' %>);">
  <h4 class="w-100 pl-2"><%= @volunteer.title %></h4>
</div>
<div class="col-6">
  <h4><%= @volunteer.location %></h4>
  <h4><%= @volunteer.date %></h4>
  <article><%= @volunteer.summary%></article>
</div>